@font-face {
  font-family: var(--fFamily);
  src: url(tipografia/Noticia-Bold.otf);
}
:root {
  --dFlex: flex;
  --fColumn: column;
  --fRow: row;
  --jContent: center;
  --aItems: center;
  --fondoNegro: #2A2C3C;
  --colorBlanco: white;
  --BCBlanco: #eeeeee;
  --FontSize13: 13px;
  --FontSize12: 12px;
  --margin0: 0px;
  --relative: relative;
  --borderNone: none;
  --colorOrangered: orangered;
  --colorGris: #A7A8AA;
  --width80: 80%;
  --width51: 51%;
  --padding10: 10px;
  --fFamily: tituloNoticias;
}
@media screen and (max-width: 640px) {
  :root {
    --widthHeader: 400px;
    --fontEnlaces: 16px;
  }
  .nav2 {
      position: var(--relative);
      right: 35px;
      display: var(--dFlex);
      align-items: var(--aItems);
      gap: 20px;
      margin: var(--margin0);
      flex-direction: var(--fColumn);
      padding-bottom: 20px;
      font-size: 18px;
  }
  .header2 {
    display: var(--dFlex);
    flex-direction: var(--fRow);
    align-items: var(--aItems);
    padding-top: 130px;
    flex-direction: var(--fColumn);
    padding-bottom: 40px;
  }
  .header1 {
    font-size: var(--FontSize13);
    color: #8b8b8b;
    display: var(--dFlex);
    justify-content: var(--jContent);
    background-color: var(--BCBlanco);
    height: 95px;
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-direction: var(--fColumn);
  }
  .header1-1 > div {
    width: var(--widthHeader);
    flex-direction: var(--fRow);
    justify-content: space-between;
    flex-direction: var(--fColumn);
  }
  .div2Footer {
    display: var(--dFlex);
    gap: 10px;
    padding-top: 20px;
    flex-direction: var(--fColumn);
  }
  .mainFooter {
    width: var(--width51);
    border-bottom: 1px solid #404250;
    display: var(--dFlex);
    flex-direction: var(--fColumn);
    gap: 30px;
    color: #BFBFC4;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .mainFooter > section {
    display: var(--dFlex);
    flex-direction: var(--fColumn);
    gap: 3px;
    align-items: var(--aItems);
  }
  .header1-1 > div:first-child > div {
    display: var(--dFlex);
    flex-direction: var(--fColumn);
    align-items: var(--aItems);
  }
  .sectionNoticias > article {
    border: 2px solid;
    display: var(--dFlex);
    flex-direction: var(--fColumn);
    width: var(--width80);
    padding: var(--padding10);
  }
  .divsNoticias h3 {
    font-family: var(--fFamily);
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --widthHeader: 1200px;
    --fontEnlaces: 16px;
  }
  .nav2 {
      position: var(--relative);
      right: 68px;
      display: var(--dFlex);
      align-items: var(--aItems);
      justify-content: var(--jContent);
      gap: 2.2%;
      margin: var(--margin0);
      flex-direction: var(--fRow);
  }
  .header2 {
    display: var(--dFlex);
    flex-direction: var(--fRow);
    align-items: var(--aItems);
    justify-content: space-evenly;
    padding-top: 25px;
  }
  .header1 {
    font-size: var(--FontSize13);
    color: #8b8b8b;
    display: var(--dFlex);
    flex-direction: var(--fRow);
    justify-content: var(--jContent);
    background-color: var(--BCBlanco);
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .header1-1 > div {
    width: var(--widthHeader);
    display: var(--dFlex);
    flex-direction: var(--fRow);
    justify-content: space-between;
  }
  .div2Footer {
    display: var(--dFlex);
    flex-direction: var(--fRow);
    gap: 375px;
    padding-top: 20px;
  }
  .mainFooter {
    width: var(--width51);
    border-bottom: 1px solid #404250;
    display: var(--dFlex);
    flex-direction: var(--fRow);
    gap: 110px;
    color: #BFBFC4;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mainFooter > section {
    display: var(--dFlex);
    flex-direction: var(--fColumn);
    gap: 3px;
  }
  .header1-1 > div:first-child > div {
    display: var(--dFlex);
    flex-direction: var(--fRow);
    align-items: var(--aItems);
    gap: 100px;
  }
  .sectionNoticias > article {
    border: 2px solid;
    display: var(--dFlex);
    flex-direction: var(--fRow);
    width: var(--width80);
    padding: var(--padding10);
  }
  .divsNoticias h3 {
    font-family: var(--fFamily);
    font-size: 30px;
  }
}
body {
  margin: var(--margin0);
}
.padre {
  display: var(--dFlex);
  flex-direction: var(--fColumn);
  }
.header1-1 {
  display: var(--dFlex);
  flex-direction: var(--fRow);
  justify-content: var(--jContent);
}
.header1-1 + div {
  width: 220px;
  display: var(--dFlex);
  flex-direction: var(--fRow);
  gap: 10%;
}
.logoApar {
  position: var(--relative);
  right: 3%;
}
.iconosHeader {
display: var(--dFlex);
flex-direction: var(--fRow);
gap: 17%;
}
.select1 {
  border: var(--borderNone);
  color: var(--colorOrangered);
  font-size: var(--FontSize12);
  background-color: var(--BCBlanco) ;
}
.select2 {
  border: var(--borderNone);
  background-color: var(--fondoNegro);
  color: var(--colorBlanco);
}
nav {
  background-color: var(--fondoNegro);
  font-size: 15px;
}
.nav2 * > a {
color: var(--colorBlanco);
}
.shopDepartments {
  background-color: var(--colorOrangered);
  width: 245px;
  height: 60px;
  font-size: var(--FontSize12);
  display: var(--dFlex);
  justify-content: var(--jContent);
  align-items: var(--aItems);
}
.shopDepartments:hover {
  color: black;
}
.busquedaRapida {
  background-color: var(--fondoNegro);
  display: var(--dFlex);
  flex-direction: var(--fColumn);
  justify-content: var(--jContent);
  align-items: var(--aItems);
}
footer {
  background-color: var(--fondoNegro);
  display: var(--dFlex);
  flex-direction: var(--fColumn);
  align-items: var(--aItems);
  color: var(--colorGris);
}
.mainFooter section:last-child div {
  padding-top: 50px;
  display: var(--dFlex);
  gap: 5px;
}
.mainFooter section:last-child div img {
height: 18px;
}
.div2Footer img {
  height: 30px;
}
footer * > h3 {
  font-size: var(--FontSize13);
}
footer * > a, footer * > span {
  color: var(--colorGris);
}
/*Noticias*/
.sectionNoticias {
  display: var(--dFlex);
  flex-direction: var(--fColumn);
  align-items: var(--aItems);
  gap: 50px;
  padding-bottom: 50px;
}
.divsNoticias {
  display: var(--dFlex);
  flex-direction: var(--fColumn);
  align-items: var(--aItems);
}
.divsNoticias p:first-letter {
  color: var(--colorOrangered);
}
.divsNoticias h3::before {
  content: "♥";
}
a[href*="detallenoticia.html"] {
  color: blue;
}
h3 ~ p {
  width: 57%;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--colorOrangered);
}
li {
  list-style: none;
}